# API Server
salomone.api.eludo.co {
    reverse_proxy server:8080
}

# Insights Server
salomone.insights.eludo.co {
    reverse_proxy server:8081
}

# Web/App Server
salomone.app.eludo.co {
    reverse_proxy server:8082
}
